/*Modals*/
@import "src/styles/modals/BookDetail.style.css";
@import "src/styles/modals/EditAddBookForm.style.css";
@import "src/styles/modals/ManageColumnsModal.style.css";
@import "src/styles/modals/SettingsModal.style.css";

/*Components*/
@import "src/styles/components/button.style.css";
@import "src/styles/components/input.style.css";
@import "src/styles/components/toast.style.css";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

#app {
    padding: 1rem;
}

.draggable {
    cursor: grab;
}

.column-hover {
    background-color: #e0f7fa !important;
}

.column {
    background-color: #FFFFFF;
    padding: 1rem;
    width: 200px;
    border-radius: 8px
}

.bookCard {
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.app {
    display: flex;
    gap: 1rem;
}

